.navbar-brand img {
    height: 50px;
    width: 100%;
    display: block;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 1.25rem;
    font-size: 0;
    line-height: inherit;
    white-space: nowrap;
}

.img-preview{
    max-height: 3rem !important;
    max-width: 100px!important;
}